<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>    

<body class="body-about">
    {{>header}}
    <img src="/img/background.jpg">
    {{>footer}}
</body>

</html>