<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>    

<body class="body-help">
    {{>header}}
    <p style="position: none">{{contactInfo}} {{name}}</p>
    <p>{{helpInfo}}</p>
    {{>footer}}
</body>

</html>