<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/script.js"></script>
</head>    

<body class="body-index">
    {{>header}}
    <img src="/img/goodback.jpg">
    {{>footer}}
</body>

</html>